@using Logistic.UILayer.Models
@model List<TBL_ORDER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h2>Sipariş Listesi</h2>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Müşteri</th>
        <th>Nereden</th>
        <th>Nereye</th>
        <th>Ürün</th>
        <th>Boyut</th>
        <th>Fiyat</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Order_ID</td>
            <td>@item.TBL_CUSTOMER.CustomerName @item.TBL_CUSTOMER.CustomerSurname</td>
            <td>@item.TBL_CITY.CityName</td>
            <td>@item.TBL_CITY1.CityName</td>
            <td>@item.OrderProduct</td>
            <td>@item.OrderSize</td>
            <td>@item.OrderPrice</td>
            <td><a href="/Order/DeleteOrder/@item.Order_ID" class="btn btn-danger"></a>Sil</td>
            <td><a href="/Order/UpdateOrder/@item.Order_ID" class="btn btn-success"></a>Güncelle</td>
        </tr>
    }
</table>
<a href="/Order/AddOrder/" class="btn btn-info">Yeni Sipariş Girişi</a>